body{
    width: 100vw;
    overflow-x: hidden !important;
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
    background: linear-gradient(rgb(7, 7, 7),rgb(17, 17, 17),rgb(32, 32, 32)) !important;
    
}

    h3{
        font-size: 35px;
        margin-bottom: 12px;
        color: #dadada;
        font-weight: 600 !important;
    
}

.contact-section p{
    font-size: 17.5px;
    color: rgba(255,255,255,0.67);

}
.contact-section h5{
        font-size: 25px;
        margin-bottom: 12px;
        color: #dadada;
        font-weight: 600;
}

.contactform-container img{
    pointer-events: none;
    margin-top: -58.7px;
    margin-left:123px;
    z-index: 0.1;
    opacity: 0.9;
}

.contactform-container{
    overflow: hidden !important;
    background-color: #dadada;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(126, 126, 126, 0.6);
    width: 500px !important;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 35px;
    margin-top: 45px;
    margin-bottom: 60px;
    flex-direction: column;
}

.contactform-container .conus {
    pointer-events: none;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 11;
    background: linear-gradient(rgb(15, 15, 15),rgb(27, 27, 27));
        background-clip:border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
}


.contactform-container h4 {
    margin-top: -5px;
    background: linear-gradient(rgb(43, 42, 42),rgb(54, 54, 54));
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    font-weight: 600;
    font-size: 20px;
}

.contactform-container .contact-form{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
}


.contactform-container form{
    margin-top: 20px;
}

.contactform-container button{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.8px;
    background-color: red;
    padding:  .9em 2.3em;
    border-radius: 5px;
    border: 0px;
}

.contactform-container button:hover{
    transform: scale(1.03);
}

.contactform-container button:focus{
    outline: none !important;
}

.contactform-container input,
.contactform-container textarea{
        width: 100%;
        display: relative;
        margin-bottom: 15px;
        position: relative;
        font-weight: 600;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3px;
        border: 0;
        background:rgba(0, 0, 0, 0.945);
        color: #dadada;
        
    }

    .contact-input-section{
        position: relative;
    }
   
.contactform-container label{
    position: absolute;
    left: 10px;
    top: 17px;
    color: #dadada;
    font-weight: 600;
    pointer-events: none;
    -webkit-transition: all 0.25s ease/;
    transition: all 0.25s ease;
}

.contactform-container input:focus ~ label,
.contactform-container input:valid ~ label,
.contactform-container textarea:focus ~ label{
    font-size: 0.9em;
    color: red;
    transform: translate(-4px,-17px);
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

@media screen and (max-width: 1200px){
    .contactform-container{
        transform: scale(0.9);
        margin-top: -20px;
    }
}
@media screen and (max-width: 800px){
    .contactform-container{
        transform: scale(0.85);
        margin-top: -40px;
    }
}
@media screen and (max-width: 500px){
    .contactform-container{   
        width: 450px !important;
        margin-top: -40px;
    }
    .contact-section{
        padding: 0;
        margin: 0;
        width: 100vw;
    }
  
}
@media screen and (max-width: 450px){
    .contactform-container{   
        width: 390px !important;
        margin-top: -40px;
    }
    .contactform-container img{
        display: none;
    }
}
@media screen and (max-width: 380px){
    .contactform-container{   
      max-width: 340px;
      min-width: 300px;
       margin-top: -40px;
       padding: 10px;
}
*{
    overflow-x: hidden;
}

}
