body{
    width: 100vw;
    overflow-x: hidden !important;
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.946) !important;
}

.nav-menu li .active .front,
.nav-menu li .active .back,
.nav-menu li a:hover .front,
.nav-menu li a:hover .back {
    background-color:  rgb(255, 0, 0) !important;
    color: whitesmoke;
}

.contact-section{
    color: rgba(245, 245, 245, 0.877);
}

.contactform-container img{
    pointer-events: none;
    margin-top: -64.7px;
    margin-left:183px;
    z-index: 0.1;
    opacity: 0.9;
}

.contactform-container{
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.956);
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(31, 30, 30, 0.6);
    width: 500px !important;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 35px;
    margin-top: 35px;
    margin-bottom: 60px;
    flex-direction: column;
}

.contactform-container .conus {
    pointer-events: none;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 11;
    background: linear-gradient(to right, #ffffff, #e2dede);
    background-clip: border-box;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
}

.contactform-container h4 {
    pointer-events: none;
    font-size: 18px;
    z-index: 1;
    background: linear-gradient(to right, #dad5d5, #d6d3d3);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactform-container .contact-form{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center !important;
}

.contactform-container form{
    margin-top: 30px;
}

.contactform-container button{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.8px;
    background-color: red;
    padding:  .9em 2.3em;
    border-radius: 5px;
    border: 0px;
}

.contactform-container button:hover{
    transform: scale(1.03);
}

.contactform-container button:focus{
    outline: none !important;
}

.contactform-container input,
.contactform-container textarea{
        width: 100%;
        display: relative;
        margin-bottom: 15px;
        position: relative;
        font-weight: 600;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 3px;
        background-color: rgba(245, 245, 245, 0.974);
        border: 0;
    }

.contactform-container label{
    position: absolute;
    margin-top: 15px;
    margin-left: -420px;
    color: black;
    font-weight: 600;
    pointer-events: none;
    /* -webkit-transition: all 0.25s ease/;
    transition: all 0.25s ease; */
}

.contactform-container input:focus ~ label,
.contactform-container input:valid ~ label,
.contactform-container textarea:focus ~ label{
    font-size: 0.9em;
    color: red;
    transform: translate(-4px,-17px);
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

@media screen and (max-width: 1200px){
    .contactform-container{
        transform: scale(0.9);
        margin-top: 0;
    }
}
@media screen and (max-width: 800px){
    .contactform-container{
        transform: scale(0.85);
        margin-top: 0;
    }
}
@media screen and (max-width: 500px){
    .contactform-container{   
        width: 450px !important;
        margin-top: 0px;
    }
    .contactform-container label{
        position: absolute;
        margin-top: 13px;
        margin-left: -380px;
        color: black;
    
    }
    
}
@media screen and (max-width: 450px){
    .contactform-container{   
        width: 390px !important;
        margin-top: 0px;
    }
    .contactform-container label{
        margin-top:15px;
        margin-left: -320px;
    }
    .contactform-container img{
        transform: scale(0.8);
        margin-top: -60px;
        margin-left:180px;
    }
}
@media screen and (max-width: 380px){
    .contactform-container{   
       transform: scale(0.75);
       margin: auto !important;
       margin-top: 0;
}
}
@media screen and (max-width: 359px){
    .contactform-container{   
   width: 100% !important;
}

.contactform-container img{
    display: none;
    padding: 0;
    margin: auto;
}
/* *{
     overflow-x: hidden; 
} */

}
