*{
  font-family: 'Rajdhani', sans-serif;
}
.canvas-wrapper h3{
font-size: 26px;
padding:10px;
text-align: center;
color: white;
font-weight: 600;
margin: 15px 0 5px 0;
background: rgb(209, 1, 1);
}
/* 
#canvas{
  width: 100%;
}



@media screen and (max-width:968px){
  #canvas{
    width: 100%;
    height: 270px !important;
  }
  .canvas-wrapper h3{
    font-size: 23px;
    }
}
@media screen and (max-width:766px){
  #canvas{
    width: 100%;
    height: 230px !important;
  }
  .canvas-wrapper h3{
    font-size: 23px;
    }
}

@media screen and (max-width:490px){
  #canvas{
    width: 100%;
    height: 200px !important;}
 
  .canvas-wrapper h3{
    font-size: 20px;
    }
} */

@media screen and (max-width:930px){
  #carouselExampleIndicators img{
    height: 450px;
  }
}
@media screen and (max-width:710px){
  #carouselExampleIndicators img{
    height: 410px;
  }
}
@media screen and (max-width:540px){
  #carouselExampleIndicators img{
    height: 370px;
  }
}
@media screen and (max-width:480px){
  #carouselExampleIndicators img{
    height: 320px;
  }
}
@media screen and (max-width:410px){
  #carouselExampleIndicators img{
    height: 280px;
  }
}
@media screen and (max-width:354px){
  #carouselExampleIndicators img{
    height: 260px;
  }
}

body{
    width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box !important;
  }

  
  
  .scroll-button i{
    z-index: 99;
    cursor: pointer;
    color: red;
    position: fixed;
    bottom: 20px;
    border: 2.5px solid red;
    border-radius: 50%;
    right: 15px;
    font-size: 18px;
    padding: 4px;
  
  }

  .carousel-indicators li{
border-radius: 50%;
margin: 0 4px 0 4px !important;
width: 12px !important;
height: 12px !important;
background-color: red !important;
  }
  
  
/* SLIDER FOR HAPPY CUSTOMERS  */
/* Slideshow container */



  .view-all-button{
  display: flex;
  justify-content:center;
  margin-bottom: 10px;
  }
  
  .view-all-button a{
  color: rgb(223, 222, 222);
    font-weight: 700;
  font-size: 17px;
  }
  
  .view-all-button a:hover{
      color: red;
  }
  
  .firstpage-miniheadings{
      font-size: 33px;
      margin-bottom: 10px;
      background: linear-gradient(rgb(252, 252, 252) , rgb(243, 243, 243));
      background-clip:border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color:  transparent;
      font-weight: 600;
  }
  
  
  /* OUR PRODUCTS  */
  
  .product-container{
    width: 100%;
    box-shadow: 0px 0px 4px 2px rgba(58, 57, 57, 0.71);
    margin-top: 8px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(7, 7, 7),rgb(15, 15, 15),rgb(25, 25, 25));
  }
  
  .image1{
    width: 65%;
    height: 65%;
    margin-left: 5px;
    display: block;
  }
  
  .image2{
    width: 65%;
    height: 65%;
    margin-left: 5px;
    display: none;
  }
  
  .image3{
    width: 73%;
    height: 68%;
    display: block;
  }
  
  .image4{
    width: 73%;
    height: 68%;
    display: none;
  }
  
  .image5{
    width: 75%;
    height: 75%;
    display: block;
  }
  
  .image6{
    width: 75%;
    height: 75%;
    display: none;
  }
  
  .image7{
    width: 85%;
    height: 85%;
    margin-left: -3px;
    display: block;
  }
  
  .image8{
    margin-left: -3px;
    width: 65%;
    height: 65%;
    display: none;
  }
  
  .product-card-container {
    font-family: helvetica !important;
   width: 85% !important;
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .product-card {
    width: 100%;
    max-width: 200px;
    height: 200px;
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(44, 43, 43, 0.777);
    border: 2px solid rgba(7, 7, 7, 0.12);
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .product-icon {
    margin: 0 auto;
    width: 100%;
    height: 85px;
    max-width: 85px;
    background: linear-gradient(90deg, #df1a1a 0%, #e91c1c 42%, rgba(0, 0, 0, 0.28) 55%);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(29, 28, 28, 0.777);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s ease;
    background-position: 0px;
    background-size: 220px;
  }
  
  .product-card .product-title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
  }
  
  .product-card .product-text {
    width: 90%;
    margin: 0 auto;
    font-size: 12.5px;
    text-align: center;
    margin-top: 5px;
    color: rgb(218, 216, 216);
    opacity: 0;
    max-height: 0;
    letter-spacing: 0.3px;
    transition: all 0.3s ease;
  }
  
  .product-card:hover {
  transform: scale(1.04);
  z-index: 99;
  }
  
  .product-card:hover .product-info {
    height: 90%;
  }
  
  .product-card:hover .product-text {
    transition: all 0.5 ease-in-out;
    opacity: 1;
    max-height: 30px;
  }
  
  .product-card:hover .product-icon {
    background-position: -120px;
    transition: all 0.4s ease-in-out;
  }
  
  
  
  /* OUR HAPPY CUSTOMERS   */
  
  :root{
    --main-color: #e74c3c;
  }
  
  .mySlides{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .mySlides .review-item{
  margin-left: 10px;
  margin-right: 10px;
  }
  
  .client-container img{
    height: 320px !important;
    width: 250px !important;
  }
  
  .client-container{
  box-shadow: 0px 0px 4px 2px rgba(58, 57, 57, 0.71);
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 20px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(rgb(7, 7, 7),rgb(15, 15, 15),rgb(25, 25, 25));
  }
  
  .mySlides .container-fluid{
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
  }
  
  .product-grid{
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center !important;
    font-family: 'Roboto', sans-serif;
    position: relative;
    }
    
    .product-grid .product-image{
    overflow: hidden;
    position: relative;
    }
    
    .product-grid .product-image:before{
    content: "";
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .4s ease-out 0s;
    }
  
    .product-grid:hover .product-image:before{ opacity: 1; }
    .product-grid .product-image a{ display: block; }
    .product-grid .product-image img{
    width: 100%;
    height: 100%;
    }
  
    .product-image .pic-1{
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
    }
  
    .product-grid:hover .product-image .pic-1{ 
      opacity: 0.25; }
  
    .product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform: scale(1.5);
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease-out 0s;
    }
  
    .product-grid .product-social-icons {
      padding: 0;
      margin: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 100%;
      background-color: black;
      list-style: none;
      left : 50%;
      bottom: 0px;
      transform: translateX(-50%);
      position: absolute;
      z-index: 4;
      transition: all 0.5s ease-out 0s;
      }
   
    .happy-userreview{
      font-size: 13px;
      font-weight: 600;
    }
  
    .product-grid:hover .product-image .pic-2 {
    opacity: 1;
    transform: scale(1);
    }
    .product-grid:hover .product-social-icons{
      opacity: 1 !important;
    }
  
    .pic-2{
      opacity: 1;
      color: white;
      position: relative;
    }
  
  
    .happy-username{
      position: absolute;
      top: 0;
      width: auto;
      left: 0;
      overflow: visible !important;
      box-shadow: 0 0 6px 2px rgba(17, 17, 17, 0.94);
      border-radius: 0px 12px 0px 12px;
      font-size:15px;
      font-weight: 600;
      background-color: red;
      padding: 4px;
    }
  
  
  
    .product-grid .product-social-icons li {
    margin-right: 0 .7em 0 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform .3s ease-out 0s;
    }
    
    a,i,li{
      text-decoration: none !important;
    }
  
    .fa-heart:hover{
  color: red;
  transform: scale(1.2);
  transition: all .3s ease-out 0s;
    }
  
    .count-heart{
    display: inline-block;
    color: red;
    font-size: 14px;
    font-weight: bolder !important;
    }
    
    .product-grid:hover .product-social-icons li {
    opacity: 1;
    margin-left: 20px;
    transform: translateY(0);
    }
    
    .product-grid .product-social-icons li a {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s;
    }
  
    .product-grid .product-content{ padding: 12px 0; }
    .product-grid .product-title{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 5px;
    }
  
    .product-grid .product-title a{ color: white; font-weight: bold; }
    .product-grid .product-title a:hover{ color: var(--main-color);}
    .product-grid{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    }
  
    @media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 20px; }
    }
  
  
    button:focus{
    outline: none;
    }
  
    
  /* REVIEW PRODUCT CONTAINER  */
  
  
  .review-container{
    box-shadow: 0px 0px 4px 2px rgba(58, 57, 57, 0.71);
    margin-top: 8px;
    padding: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(rgb(7, 7, 7),rgb(15, 15, 15),rgb(25, 25, 25));
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
  }
  
  
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
  
  .review-container a.btn {
    margin-top: 2px;
    background: red;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    padding: 6px 20px 6px;
    position: relative;
    text-decoration: none;
    transition: all 0.25s ease;
  }
  
  .review-container a.btn:hover {
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-1px);
    transition: all 0.25s 0s ease-out;
  }
  
  div.review-cards {
    margin-top: 15px;
    margin-bottom: 35px;
    justify-content: center;
    display: flex;
  }
  
  div.review-card {
    border-bottom: 0;
   box-sizing: border-box;
    background:whitesmoke;
   display: inline-block;
    margin-left: 0;
    margin-right: 0;
    max-width: 255px;
    perspective: 1000;
    margin-left: 10px;
    margin-right:10px;
    text-align: left;
    height: 360px !important;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
  }
  
  div.review-card img {
    width: 100%;
    filter: drop-shadow(0px 2px 2px rgba(102, 101, 101, 0.63));
  }
  
  div.review-card div.review-card-title {
    background: transparent;
    padding-top: 4px;
    z-index: 0;
  }
  
  div.review-card div.review-card-title h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 4px;
  }
  
  div.review-card div.review-card-title h2 small {
    display: block;
    padding-top: 5px;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: 0em;
  }
  
  div.review-card div.review-card-actions {
    padding: 8px;
    padding-top: 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .review-card-title h2{
    text-transform: uppercase;
  }
  
  .review-card-title small{
    text-transform: none;
  }
  
  
  /* Fading animation */
  
  @media screen and (max-width:1108px) and (min-width:955px){
    .product-card {
      max-width: 175px;
      height: 170px;
    }
    .product-icon {
      height: 70px;
      max-width: 70px;
    }
    .product-card .product-title {
      margin-top: 10px;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .product-card .product-text {
      width: 95%;
      font-size: 13px;
      margin-top: 5px;
  }
  .product-card-container {
   width: 95% !important;
  }

  }
  @media screen and (max-width:954px) and (min-width:736px){
    .product-card {
      max-width: 155px;
      height: 165px;
    }
    .product-icon {
      height: 60px;
      max-width: 60px;
    }
    .product-card .product-title {
      margin-top: 5px;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .product-card .product-text {
      width: 95%;
      font-size: 13px;
      margin-top: 2px;
  }
  .product-card-container {
   width: 100% !important;
  }
  }
  @media screen and (max-width:735px) and (min-width:529px){
    .product-card {
      max-width: 130px;
      height: 130px;
    }
    .product-icon {
      height: 55px;
      max-width: 55px;
    }
    .product-card .product-title {
      margin-top: 5px;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .product-card .product-text {
      width: 100%;
      font-size: 13px;
      margin-top: 0px;
  }
  .product-card-container {
   width: 100% !important;
  }
  }
  @media screen and (max-width:528px) and (min-width:0px){
    .product-card {
      margin-bottom: 10px;
      max-width: 135px !important;
      height: 135px !important;
    }
    .product-icon {
      height: 70px !important;
      max-width: 70px !important;
    }
    .product-card .product-title {
      margin-top: 5px;
      letter-spacing: 1px;
      font-size: 14px;
    }
    .product-card .product-text {
      width: 85%;
      display: none;
      font-size: 13px;
      margin-top: 0px;
  }
  .product-card-container {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 0px !important;
    margin-right: 0 !important;
   }
  .product-card-container {
   width: 100% !important;
  }
  .product-container{
    padding: 20px 2px;
  }
  }

  @media screen and (max-width:711px) and (min-width:0px){
    .product-card {
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: 20px;
      max-width: 175px;
      height: 175px;
    }
    .product-icon {
      height: 75px;
      max-width: 75px;
    }
    .product-card .product-title {
      margin-top: 5px;
      letter-spacing: 1px;
      font-size: 13px;
    }
    .product-card .product-text {
      width: 85%;
      font-size: 13px;
      margin-top: 0px;
  }
  .product-card-container {
   width: 80% !important;
  }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  @media screen and (max-width:1210px) and (min-width:1009px){
    div.review-card {
      transform: scaleY(0.94);
      max-width: 225px;
    }
  }
  @media screen and (max-width:1008px){
    div.review-card {
      margin-top: -15px;
      transform: scaleY(0.90);
      max-width: 205px;
    }
    div.review-cards {
      justify-content: space-around;
    }
    div.review-card {
      margin-left: 0px;
      margin-right: 0px;
    }
  
  }
  @media screen and (max-width:898px) and (min-width:784px){
    div.review-card:nth-child(4) {
  display: none;
    }
    div.review-card{
      max-width: 235px;
    }
    div.review-container{
     padding: 10px !important;
    }
  }
  @media screen and (max-width:783px) and (min-width:712px){
    div.review-card:nth-child(4) {
  display: none;
    }
    div.review-card{
      max-width: 215px;
    }
    div.review-container{
      padding: 0px !important;
    }
  }
  @media screen and (max-width:711px) and (min-width:572px){
    div.review-card:nth-child(4),
    div.review-card:nth-child(3) {
  display: none;
    }
    div.review-card {
      max-width: 235px;
    }
    div.review-cards {
      justify-content: center;
    }
    div.review-card {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  @media screen and (max-width:571px) and (min-width:486px){
    .client-container img{
      height: 260px !important;
      width: 205px !important;
    }
    .mySlides .review-item{
      margin-left:10px;
      margin-right: 10px;
      }
      .client-container{
        padding-top:15px;
        }
        div.container{
     padding: 0 !important;
        }
  .mySlides .review-item:nth-child(4),
  .mySlides .review-item:nth-child(3){
    display: none;
  }
    div.review-card:nth-child(4),
    div.review-card:nth-child(3) {
    display: none;
    }
    div.review-card{
      max-width: 215px;
    }
    div.review-cards {
      justify-content: center;
    }
    div.review-card {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  @media screen and (max-width:485px) and (min-width:0px){
    .client-container img{
      height: 270px !important;
      width: 230px !important;
    }
    .mySlides .review-item{
      margin-left:5px;
      margin-right: 5px;
      }
      .client-container{
        padding-top:15px;
        }
        div.container{
     padding: 0 !important;
        }
  .mySlides .review-item:nth-child(4),
  .mySlides .review-item:nth-child(3){
    display: none;
  }
  div.row{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    div.review-card:nth-child(4),
    div.review-card:nth-child(3) {
    display: none;
    }
    div.review-card{
      margin-bottom: 10px;
      max-width: 230px;
    }
    div.review-card:nth-child(2){
      margin-top: 20px !important;
    }
    div.review-container{
      padding: 0px;
      padding-top: 15px;
      justify-content: center !important;
    }
    div.review-cards{
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
   
  }
  @media screen and (max-width:1210px) and (min-width:1009px){
    .client-container img{
      height: 260px !important;
      width: 210px !important;
    }
  }
  @media screen and (max-width:1008px) and (min-width:888px){
    .client-container img{
      height: 260px !important;
      width: 210px !important;
    }
    .mySlides .review-item{
      margin-left:6px;
      margin-right: 6px;
      }
      .client-container{
        padding-top:15px;
        }
        .container{
     padding: 0;
        }
 
  }
  @media screen and (max-width:887px) and (min-width:705px){
    .client-container img{
      height: 260px !important;
      width: 210px !important;
    }
    .mySlides .review-item{
      margin-left:6px;
      margin-right: 6px;
      }
      .client-container{
        padding-top:15px;
        }
        .container{
     padding: 0;
        }
        .mySlides .review-item:nth-child(4){
          display: none;
        }
 
  }
  @media screen and (max-width:704px) and (min-width:572px){
    .client-container img{
      height: 280px !important;
      width: 235px !important;
    }
    .mySlides .review-item{
      margin-left:20px;
      margin-right: 20px;
      }
      .client-container{
        padding-top:15px;
        }
        div.container{
     padding: 0 !important;
        }
  .mySlides .review-item:nth-child(4),
  .mySlides .review-item:nth-child(3){
    display: none;
  }
  }