*{
    outline: none;
    }

.pop-up .modal-content{
    z-index: 99999;
    background-color: white;
    opacity: 1 !important; 
}

.pop-up h2{
    display: inline-block !important;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: none;
}

.pop-up h2 span:nth-child(1){
    color: red;
    margin-right: 2px;
}

.pop-up .signup-box h2 span:nth-child(1){
    color: blue;
}

.pop-up h2 span:nth-child(2){
    margin-left: -10px;
}

.pop-up .close-modalBtn{
    font-size: 55px;
    color: snow;
    font-weight: 300;
    opacity: 1;
    margin-top: -19px;
    margin-right: -125px;
}

.pop-up .close-modalBtn:hover{
    color: snow;
}


.login-modal-body input{
caret-color: rgba(255, 0, 0, 0.849);
    width: 130%;
    margin-top: 15px;
    position: relative;
    color: white;
    padding: 18px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.925);
    border: 0;
}

.signup-box input{
    caret-color: rgba(4, 0, 255, 0.925);
}
 
.login-modal-body label{
    position: absolute;
    margin-top: -42px;
    opacity: 1;
    margin-left: 15px;
    color: rgb(221, 218, 218);
    pointer-events: none;
}

.login-modal-body input:focus ~ label,
.login-modal-body input:valid ~ label {
    font-size: 0.9em;
    color: red;
    font-weight: 700;
    transform: translate(0,-19px);
    -webkit-transition: all 0.225s ease;
    transition: 
    all 0.225s ease;
}
.signup-box input:focus ~ label,
.signup-box input:valid ~ label {
    color: blue !important;
}

.signup-box a{
    color: blue;
    font-weight:700;
}
.signup-box a:hover{
    color: rgba(0, 0, 255, 0.906);
}
.login-box a{
    color: red;
    font-weight:700;
}
.login-box a:hover{
    color: rgba(255, 0, 0, 0.906);
}

.login-modal-body input:focus { outline: 0; }

button:focus{
        outline: none !important;
}
    
.close{
      margin-left: 90%;
      margin-top: 2%;
}
    
.login-modal-content{
       display: flex;
       justify-content: center;
       align-items: center;
}
    
.login-modal-body button{
    display: block;
    width: 130%;
    margin-top:1.6em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.8px;
    background-color: red;
    padding:  .9em 2.3em;
    border-radius: 5px;
    border: 0px;
}

.signup-box button{
    background-color: blue;
}

.login-modal-body button:hover{
    transform: scale(1.04);
}

.login-modal-body{
    position: relative;
    display: flex;
}

.login-box{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    visibility: hidden;
}

.signup-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal-body img{
height: 400px;
margin-top: -80px;
}

.login-modal-body .signup1,
.login-modal-body .login1{
    margin-left: -220px;
}

.login-modal-body .signup2,
.login-modal-body .login2{
margin-left: -70px;
}


@media screen and (max-width:991px){
    .login-modal-body img{
       display: none;
    }
    .pop-up .modal-content{
    height: 80%;
    width: 100%;
}
.pop-up .signup-box h2 span:nth-child(1){
    color: rgb(255, 0, 0);
}
.signup-box input{
    caret-color: rgba(255, 0, 0, 0.925);
}
.login-modal-body .signup1,
.login-modal-body .login1{
    margin-left: -5px;
}
.signup-box button{
    background-color: red;
}


.pop-up .close-modalBtn{
    font-size: 50px;
    margin-top: -19px;
    margin-right: -95px;
}
.signup-box input:focus ~ label,
.signup-box input:valid ~ label {
    color: red !important;
}

.signup-box a{
    color: red;
}
.signup-box a:hover{
    color: rgba(255, 0, 0, 0.906);
}
}


@media screen and (max-width:630px){
    .pop-up .modal-content{
        width: 90%;
        bottom: 0;
        z-index: 999;
        left: 5% ;
        transform: translate(0,0,0,-5%);
    }
    .login-modal-body input{
            width: 130%;
            margin-top: 10px;
        }
        .login-modal-body button{
            width: 130%;
        }
        .pop-up .close-modalBtn{
            font-size: 50px;
            margin-top: -19px;
            margin-right: -80px !important;
        }
}
@media screen and (max-width:488px) and (min-width:358px){
    .pop-up .modal-content{
        width: 85%;
        left: 5% ;
        transform: translate(0,0,0,-5%);
    }
    .login-modal-body input{
            width: 115%;
        }
        .login-modal-body button{
            width: 115%;
        }
        .login-modal-body .signup1,
.login-modal-body .login1{
    margin-left: -0px;
}

.login-modal-body .signup2,
.login-modal-body .login2{
margin-left: -30px;
}
}
@media screen and (max-width:357px) and (min-width:0px){
    .pop-up .modal-content{
        width: 85%;
        left: 5% ;
        transform: translate(0,0,0,-5%);
    }
    .login-modal-body input{
            width: 110%;
        }
        .login-modal-body button{
            width: 110%;
        }
        .login-modal-body .signup1,
.login-modal-body .login1{
    margin-left: -0px;
}

.login-modal-body .signup2,
.login-modal-body .login2{
margin-left: -20px;
}
}