body{
    color: white;
    background: linear-gradient(rgb(7, 7, 7),rgb(17, 17, 17),rgb(32, 32, 32));
}

.change-password-page{
    overflow: hidden !important;
    background-color: #dadada;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(126, 126, 126, 0.6);
    width: 500px !important;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 35px;
    flex-direction: column;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    font-weight: 700;
    
}

.input-password{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-password label{
    margin-top: 20px;
}

input{
    background: rgba(0, 0, 0, 0.945);
    border: 0px;
    color: #dadada;
    border-radius: 3px;
    padding: 4px 6px;
}

form button,
button{
    display: block;
        width: 40%;
        margin: auto;
        text-align: center;
        margin-bottom: 0.9em;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1.8px;
        background-color: red;
        padding:  .5em .5em;
        border-radius: 5px;
        border: 0px;
}
    
    button:hover{
        transform: scale(1.03);
    }
    
    button:focus{
        outline: none !important;
    }


    .input-password button{
   text-transform: uppercase;
        width: 100%;
        font-size: 0.9em;
        margin-bottom: 0.9em;
        margin-top: 1.7em;
        padding:  .5em 5em;
        border-radius: 5px;
        border: 0px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width:800px) and (min-width:521px){
        .change-password-page{
         transform: scale(0.88);
            padding: 10px;
            padding-top: 35px;
            margin-top: 0px;
    }
}
    @media screen and (max-width:520px){
        .change-password-page{
            width: 100vw !important;
            background-color: transparent;
            padding: 3px;
            padding-top: 35px;
            margin-top: 40px !important;
            box-shadow: none;
    }
    ul{
    padding-left: 20px;
    }
    p{
        text-align: center;
    }
    .input-password div{
       display: flex;
       justify-content: center;
       flex-direction: column;
    }

    form button{
        padding: .5em 4.5em;
    }
    
    form button,
    .user-action-buttons button{
             width: auto;
             display: flex;
             justify-content: center;
             text-align: center;
         }
     .user-action-buttons{
         display: flex;
         justify-content: center;
         align-items: center;
     }

}