*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	outline: none;
}

body{
	background-color: aliceblue !important;
}

button:focus{
	outline:0 !important;
}

button{
	outline: none !important;
	border: 0px;
}

.btnn{
	margin-top: 0px;
	padding-left: 10px;
	background-color: transparent; 
}

.btnn2{
	padding: 5px 15px;
	border-radius: 4px;
}

.btnn2:hover{
	transform: scale(1.02);
}

#like, #dislike{
	margin-bottom: 15px ;
}

#like:focus,
#dislike:focus{
	transform: translateY(-3px);
	transition: transform 1s;
	animation: likeZoom 1.5s ease-in-out;
}


@keyframes likeZoom{
	25%{
transform: scale(1.4);
	}
	50%{
transform: scale(1.8);
	}
	75%{
transform: scale(1.4);
	}
	100%{
transform: scale(1);
	}
}

h4{
	font-weight: 700 !important;
	text-transform: uppercase;
	font-size: 21px !important;
	color: #535270;
}

li{
	color: #535270;
}


.productInfo-section h5{
	color: #80808b !important;
	font-size: 22px !important;
}

main{
    margin-bottom: 50px;
}

.productInfo-section{
	padding: 20px;
	width: 63vw;
}
.productInfo-section .productName{
font-weight: 600;
font-size: 32px;
text-transform: uppercase;
background: linear-gradient(to right, #494964, #6f6f89);
background-clip:text ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.productInfo-section i{
font-size: 27px;
padding-top: 3px;
}

.productInfo-section i:hover{
transform: scale(1.1);
}

.productInfo-section .reviewPara p{
    font-size: 17.5px;
	margin-top: 25px;
	color: #535270;
}

.productInfo-section .unboxingLink{
    margin-top: 25px;
}

.productInfo-section .unboxingLink img{
    margin-top: -3px;
}

.productInfo-section .unboxingLink img:hover{
transform: scale(1.06);
}

.productInfo-section .unboxingLink::before{
content: "Unboxing Link :";
font-size: 19px;
padding: 5px;
font-weight: 600;
border-radius: 3px;
margin-right: 15px;
}

.productInfo-section .productLink{
    font-size: 18px;
    margin-top: 25px;
}

.productInfo-section .productLink::before{
    content: "Product Link";
    display: inline-block;
    font-size: 17.5px;
    padding: 5px;
    border: 2px solid #007BFF;
    color: #007BFF;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 35px;
}

.productInfo-section .productLink span:nth-child(1)::after,
.productInfo-section .productLink span:nth-child(2)::after
{
    content: " |";
    display: inline;
    text-decoration: none !important;
    font-weight: 700;
    padding-left: 15px;
    color: rgb(29, 178, 228);
}

.productInfo-section .productLink span{
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.single-product-container {
	display: flex;
	width: 100%;
	font-size: 17.5px;
	font-weight: 600;
	margin: auto;
	align-items: center;
}
.introduction {
	flex: 1;
}

.productImg-section {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}
.productImg-section img {
	height: 250px;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.3;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.25;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) and (min-width: 500px) {
	.productInfo-section{
		padding: 20px;
		width: 100vw;
	}
	.single-product-container {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
	}

	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.productImg-section img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.4;
	}
}

@media screen and (max-width: 499px) {
	.productInfo-section{
		padding: 15px;
		width: 100vw;
	}
	.single-product-container {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
	}

	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.productImg-section img {
		height: 60%;
	}
	.big-circle{
		opacity: 0.3;
	}
	.small-circle,
	.medium-circle {
		opacity: 0.2;
	 display: none;
	}
	*{
		overflow-x: hidden !important;
	}
	
.productInfo-section .productLink::before{
    font-size: 17px;
    padding: 4px;
    border-radius: 3px;
    margin-right: 35px;
}

.productInfo-section .productLink span:nth-child(1)::after,
.productInfo-section .productLink span:nth-child(2)::after
{
   
    padding-left: 10px;
}

.productInfo-section .productLink span{
    margin-right: 10px;
    font-size: 16.5px;

}
}

@media screen and (max-width:429px){
	.productLink{
display: flex;
align-items: center;
flex-direction: column;
}
.productLink::before{
	text-align: center;
	border: 0px !important;
}
.productInfo-section .productLink span:nth-child(1)::after,
.productInfo-section .productLink span:nth-child(2)::after{
	content: "";
}
}

