{%extends 'game/base.html' %}
{% load static %}


    {% block styles %}
        <link rel="stylesheet" href="{%static '/css/aboutPage.css' %}">
    {% endblock %}

    {% block title %}About Us{% endblock %}

{% block body %}



    <!-- ABOUT PAGE  -->

    <div class="about-container">

        <div class="aboutImg">
            <img src="{%static '/images/about1.png' %}" width="100%" alt="">
        </div>


        <div class="vision-section vs1">

            <div class="vision-section1 vs11">
                <h3 class="text-center">Our Vision</h3>
                <p>
                    With the increase in the number of passionate gamers who aim to create their own merchandise, Gamoby's vision is to to help them by choosing, customizing and creating their own products with gaming logo(s) designed by them! 
             
                 </p>   

                <p> We also help our gamers to select and grab the best gaming product (headphones, laptops, gaming equipment etc..) by providing a detailed review prepared by our team with great precision including live price comparison from different stores and e-commerce sites.
                </p>
            </div>

            <div class="vision-section2 vs12">
                <img src="{%static '/images/kk.png' %}" height="300px" alt="">
            </div>

        </div>


    </div>


<div class="team-container">
    <h3 class="text-center">Our Team</h3>
    <div class="about-cardspack">
    <div class="about-card">
        <div class="front-card"><img src="{% static '/images/meghal.jpg' %}" alt=""></div>
        <div class="back-card">
            <div class="details">
                <h2>Meghal Bisht <br> <span>Founder</span></h2>
                <div class="social-icons">
                    <a href="https://www.facebook.com/meghal.bisht" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/meghu25bisht/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-card">
        <div class="front-card"><img src="{% static '/images/ranjit.jpg' %}" alt=""></div>
        <div class="back-card">
            <div class="details">
                <h2>Ranjit Shah<br> <span>Founder</span></h2>
                <div class="social-icons">
                    <a href="https://www.facebook.com/ranjit.shah.585559" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/ranjitkshah/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-card">
        <div class="front-card"><img src="{%static '/images/devansh.jpg' %}" alt=""></div>
        <div class="back-card">
            <div class="details">
                <h2>Devansh Chaubey <br> <span>Founder</span></h2>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100005174237884" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/devansh-c-a57b79155/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/__devansh_5/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="vision-section vs2">

    <div class="vision-section2 vs22">
        <img src="{%static '/images/olo.png' %}" height="300px" alt="">
    </div>
    
    <div class="vision-section1 vs21">

        <h3 class="text-center">Our Aim</h3>
        <p> Gamoby described by the name itself (Gamer's + Lobby) is an e-commerce platform aimed to help the gamers choose, create and customize their own merchandise! We at Gamoby aim to provide on time and safe delivery with live tracking.
         With 0 compromise with quality we work to provide the best product under a pocket-friendly budget.</p>
        <p> Watch out you gamers! we're sure you'll find yourself picking up more than what you had in mind once you enter Gamoby.
           </p> 
         
        <p>
            
        </p>
        <p>
        </p>
    </div>


</div>


{% endblock %}