{%extends 'game/base.html' %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{%static '/css/contactPage.css' %}">
    {% endblock %}


    {% block title %}Contact Us{% endblock %}


{% block body %}
    <!-- CONTACT FORM  -->
    <section>

        <div class="contact-section mt-5 container-fluid px-5">

            <h3 class="text-center"> Hey Gamer, facing issues?</h3>
            <h5 class="text-center mt-4"> No worries! We've got questions answered.</h5>
             <p class="text-center mt-2"> <a style="color:red;" href="#">Here! </a>  check out some of the most frequently asked questions already answered by our team! </p>
             <h5 class="text-center mt-5"> Not satisfied yet?</h5>
             <p class="text-center mb-5 mt-2">Drop us your query below and we'll reach out to you via email. You satisfied makes us satisfied! </p>


        </div>

    </section>

    <section class="contactform-container mx-auto">
        <div>
            <h1 class='conus'>Contact Us</h1>
        </div>
        <img src="{%static '/images/plane.png' %}" width="210px" height="70px" alt="">
        <div class="row">
            <h4>Hey Gamer, we'd love to hear from you!</h4>
        </div>

        <div class="contact-form">
            <form  method="POST">
                {% csrf_token %}
                <div class="contact-input-section">
                    <input type="text" id="name" name="name" required />
                    <label for="name">Name</label>
                </div>

                <div class="contact-input-section">
                    <input type="email" id="email" name="email" required />
                    <label for="email">Email</label>
                </div>

                <div class="contact-input-section">
                    <textarea name="content" id="content" cols="50" rows="8"></textarea>
                    <label for="content">Your message here..</label>
                </div>


                <button type="submit" onclick="ril()">Send message</button>

            </form>
        </div>

    </section>


{% block js %}
<script>
    function ril(){
        alertify.alert('Gamoby India', 'Successfully Sent To Gamoby Team', function(){ alertify.success('Ok'); });

    }

</script>


 
{% endblock %}



{%  endblock %}
