{% extends 'game/base.html' %}
{% load cloudinary %}

    {% block title %} Design Form {% endblock %}
    {% block css %}
    <style>
        body{
            background-color: black;
        }
        .design-form{
            margin:60px auto;
            padding:100px;
            background:linear-gradient(to bottom,rgba(34, 25, 34, 0.979),rgba(255, 131, 131, 0.932));
            padding-left: 20px;
            padding-right:20px;
            border: 1px red solid;
            margin:90px;       
        }
        h1{
            text-align: center;
            margin-top: 30px;
            font-size: 70px;
            font-weight: 400;
            color: chocolate;
            margin-bottom: 0px;
        }
        label{
            font-size: 30px;
            margin-right:30px;
            color:rgb(253, 251, 251);
            font-weight: 700;
        }
        select{
            width:70%;
        }
        button{
            margin-top: 10px;
            background: #fa2626;
            font-size: 12px;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            display: inline-block;
            padding: 16px 28px 18px;
            margin-left: 40px;
            text-decoration: none;
            transition: all 0.25s ease;
        }
        button:hover{
            background: #f73131;
            box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
            transform: translateY(-1px);
            transition: all 0.25s 0s ease-out;
        }
        .change{
            margin-top: 15px;
            font-size: 20px;
        }
        .change a{
            color:darkgreen;
        }

    </style>
    {% endblock %}
{% block body %}
    <h1>Design Form</h1>
    <center><div class="design-form">
    <form id="designForm" method="post" data-colors-url="{% url 'ajax_load_colors' %}"  data-sizes-url="{% url 'ajax_load_sizes' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <button value="upload" type="submit">Upload Details</button>
        <div class="change">
        <a href="{% url 'home' %}">Back To Home</a>
        </div>
    </form>
    </div></center>


   {% block js %} 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#id_item").change(function() {
          var url = $('#designForm').attr("data-colors-url");
          var itemId = $(this).val();


          $.ajax({
              url:url,
              data:{
                  'item':itemId
              },
              success:function(data){
                  $("#id_color").html(data);
              }
          });
      });
    </script>
    <script>
         $("#id_color").change(function(){
          var url = $('#designForm').attr("data-sizes-url");
          var colorId = $(this).val();


          $.ajax({
              url:url,
              data:{ 
                  'color':colorId
              },
              success:function(data){
                  $("#id_size").html(data);
              }
          });
      });

  </script>
{% endblock %}

{% endblock %}