<!--/* tHIS IS THE DESIGN GORM PAGE  */-->
{% extends 'game/base.html' %}
{% load cloudinary %}
{% load static %}

    {% block title %} Design Form {% endblock %}
    {% block css %}
    <style>
        body{
            background-color: white;
        }
    
        h1{
            pointer-events: none;
            font-weight: 600;
            text-transform: uppercase;
            z-index: 11;
            background: linear-gradient(rgb(252, 252, 252) , rgb(243, 243, 243));
            background-clip:border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color:  transparent;
            text-align: center;
            font-size: 33px;
            font-weight: 700;
        }
        label{
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1.2px;
            font-weight: 600;
            color: white;
            margin-right: 20px;
            padding: 10px 10px 0 0;
        }
        #id_image{
            color: white;
        }
        select,
        #id_title{
            border: 0px;
            border-left: 3px solid red;
            border-radius: 2px;
            padding: 5px 8px 5px 8px;
            width:100%;
        }
        .design-wrapper button{
            display: block;
            margin: auto;
            width: 90%;
            margin-top: 1em;
            margin-bottom: 1em;
            font-size: 0.9em;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1.8px;
            background-color: red;
            padding:  .85em 2.1em;
            border-radius: 5px;
            border: 0px;
        }
        .design-wrapper button:hover{
           transform: scale(1.02);
        }
        .change{
            text-align: center;
            margin-top: 15px;
            font-size: 16px;
        }
        .change a{
            color: whitesmoke;
        }
        .change a:hover{
            color: red;
        }
        .design-wrapper i{
            margin-right: 10px;
        }

        .design-wrapper{
            margin: 0;
            margin-bottom: 0px;
            padding: 0;
            display: flex;
            justify-content: center;
        }

        .design-form,
        .design-about{
            color: white;
             flex-direction: column;
            display: flex;
            align-items: center;
            margin:10px;
            padding:15px;
            background: linear-gradient(rgb(7, 7, 7),rgb(17, 17, 17),rgb(32, 32, 32));  
        }
        .design-form{
            align-items: center;
            justify-content: center;
            width: 60%;
            margin-right: 4px;
        }
        .design-about{
            position: relative;
            width: 40%;
            margin-left: 4px;
        }

        .design-about h4{
            font-size: 30px;
            font-weight: 600;
            margin: 20px 0;
        }

        .design-about h5{
            font-size: 22px;
            font-weight: 600;
            margin: 10px 0;
            color: rgba(255,255,255,0.925);
        }
        
        ul{
            margin-top: 20px;
            font-size: 17px;
            color:rgba(255,255,255,0.895);
        }

        .img-li div{
         margin-top: 20px;
         display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width:1008px){
               .design-form,
        .design-about{
            padding: 5px;
            margin:0px;
            margin: 10px 0;
        }
           .design-form{
            margin-right: 4px;
        }
        .design-about{
            margin-left: 4px;
        }
        }

        @media screen and (max-width: 780px){
        .design-form{
            margin: 8px 0;
            width: 100%;
            margin-right: 4px;
        }
        .design-about{
            margin-top: 0;
            width: 100%;
            margin-left: 4px;
        } 

          .design-wrapper{
            width: 100%;
            flex-direction: column;
        }
        }

        @media screen and (max-width:328px){
          *{overflow-x: hidden;}
            
        }

    </style>
    {% endblock %}
{% block body %}
   <section class="design-wrapper container-fluid">

     <div class="design-form">
       <h1>Design Form</h1>
       <form id="designForm" method="post" data-colors-url="{% url 'ajax_load_colors' %}"  data-sizes-url="{% url 'ajax_load_sizes' %}"  enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <button value="upload" type="submit">Upload and view product</button>
        <div class="change">
        <a href="{% url 'home' %}"><i class="fa fa-arrow-left"></i>Back To Home</a>
        </div>
      </form>
     </div>

     <div class="design-about">
       <h4>Guide me!</h4>
       <div class="guide-me">
       <h5>Follow the steps below while uploading your logo..</h5>
       <ul>
       <li>1. The logo should be strictly without any background and preferably in SVG/PNG format. </li>
       <li>2. The image should be clear and not too big. </li>
       <li>3. Donot include the image in parts! Only one complete logo image is required. </li>
       <li>4. You can view your final product one the design form is completed!</li>
       <li class="img-li">Below is a dummy example image :-
       <div>
        <img src="{%static '/images/soul.png' %}" height="180px" width="180px" alt="">
        <div>
       </li>
         
       </ul>
       </div>
       <h5 class="happy-gaming mx-auto ">Happy Gaming!</h5>
     </div>

  </section>




   {% block js %} 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#id_item").change(function() {
          var url = $('#designForm').attr("data-colors-url");
          var itemId = $(this).val();


          $.ajax({
              url:url,
              data:{
                  'item':itemId
              },
              success:function(data){
                  $("#id_color").html(data);
              }
          });
      });
    </script>
    <script>
         $("#id_color").change(function(){
          var url = $('#designForm').attr("data-sizes-url");
          var colorId = $(this).val();


          $.ajax({
              url:url,
              data:{ 
                  'color':colorId
              },
              success:function(data){
                  $("#id_size").html(data);
              }
          });
      });

  </script>
{% endblock %}

{% endblock %}