{% extends 'game/base.html' %}
{% load widget_tweaks %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{%static 'css/profilepage.css' %}">
    {% endblock %}
    {% block title %}Edit Your Profile{% endblock %}

{% block css %}
<style>
    .test{
        margin:20px;
        
    }
</style>
{% endblock %}


{% block body %}
    <div class="profile-container">

        <div class="profileSection1">

            <div class="profileIntro">
                <img src="../images/user-icon.png" height="150px" width="150px" alt="no-img">
                <h5>Hey,</h5>
                <span>{{user.username}}</span>
            </div>

            <div class="profileToggle">
                <div class="profileNotifications"> <i class="fa fa-bell"></i> All Notifications</div>
                <div class="profileOrders"> <i class="fa fa-shopping-bag"></i> My Orders</div>
                <div class="profileCoupons"> <i class="fa fa-gift"></i>My Giftcards/Coupons</div>
                <div class="profileWishlist"> <a href="#!"> <i class="fa fa-bookmark"></i> My WishList</a> </div>
                <div class="profileReviews"> <i class="fa fa-edit"></i> My Ratings & Reviews</div>
                <div class="profileFAQs"> <a href="#!"> <i class="fa fa-book"></i> FAQs</a> </div>
            </div>

            <div class="usage-section">

                <a href="#!">Terms of Use</a>
                <a href="#!">Privacy</a>
                <a href="#!">Security</a>
    
            </div>

        </div>
        <form action="" method="POST">

            {% csrf_token %}

            <div class="profileSection2">


                <div class="user-info">

                    <div class="user-headings">
                        Personal Information
                    </div>

                    <div class="user-input-names">
                        
                        {% render_field form.first_name class+="form-control test" placeholder=form.first_name.label %}
                        {% render_field form.last_name class+="form-control test2" placeholder=form.last_name.label %}
                    </div>

                    <div class="gender-info">
                        <div class="mini-user-headings">Your Gender</div>
                        {% render_field profile_form.gender|attr:"type:radio" %}
                    </div>
                </div>

            


                <div class="address-container">

                    <div class="user-headings">Delivery Address
                        
                    </div>
                    <div class="address-grid">

                        {% render_field profile_form.address1 class+="form-control test2" placeholder=profile_form.address1.label %}
                        
                        {% render_field profile_form.address2 class+="form-control " placeholder=profile_form.address2.label %}
                        {% render_field profile_form.city class+="form-control " placeholder=profile_form.city.label %}
                        {% render_field profile_form.state class+="form-control test2" placeholder=profile_form.state.label %}
                        {% render_field profile_form.pin class+="form-control test2" placeholder=profile_form.pin.label %}
                        {% render_field profile_form.country class+="form-control test2" placeholder=profile_form.country.label %}
                        {% render_field profile_form.mobileno class+="form-control test2" placeholder=profile_form.mobileno.label %}

                    </div>

                    <div class="user-action-buttons">
                        <button type="submit" class="save-address">Save</button>
                    </div>

                </div>

            </div>

        </form>

    </div>

{% endblock %}