{% extends 'game/base.html' %}
{% load widget_tweaks %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{%static 'css/profilepage.css' %}">
    {% endblock %}
    {% block title %}Edit Your Profile{% endblock %}

{% block css %}
<style>

.profile-container{
    position:relative;
    }

.form-wrapp{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

  form{
      width:100%;
  }

  .user-input-names{
  display:flex;
  }

  .user-input-names input{
   margin-top:10px;
   border-radius:0px;
   background-color: white;
   color: black;
   font-weight: 700px;
  }
  .user-input-names input:focus{
 outline: none;
  }
  .gender-info{
     color: rgba(255, 255, 255, 0.925);
  }
  .gender-info input{
      background-color: white;
  }

   .address-container input{
       border-radius: 0px;
      background-color: white;
      padding: 23px 0px 23px 5px;
    }

    .add-box7{
        margin-top: 5px;
    }
    .add-box1{
        grid-column: 1/3 !important;
    }
    .add-box2{
       grid-column: 1/3;
    }

      .address-grid{
        display: grid;
        grid-template-columns: minmax(200px,570px) minmax(200px,570px);
        grid-template-rows: 70px 70px 65px 60px 60px ;
        grid-column-gap:10px;
    }

    
    
    input{
        color: black !important;
        background-color: white !important;
        cursor: pointer !important;
    }

   @media screen and (max-width:660px){
        .add-box3,
        .add-box4,
        .add-box5,
        .add-box6,
        .add-box7{
            grid-column: 1/3 !important;
        }
        
        .profileSection2{
            margin:5px;
            margin-left:0px
        }

    .add-box{
        padding: 10px;
    }

     .profileSection2 .user-headings{
         margin-top: 20px;
     }
   
    .profileSection2{
        padding: 5px;
        overflow-x: hidden;
        padding-top: 10px;
        margin-left: 0px;
    }
  .user-input-names input{
        width: 95% !important;
    }
    .user-info input{
    padding: 5px;
    margin-left: 5px;
    }
       .address-grid{
        grid-column-gap: 2px;
    }
   }

   @media screen and (max-width:560px){
            .address-grid{
        display: grid;
        grid-template-columns: minmax(200px,470px);
        grid-template-rows: 60px 60px 60px 60px 60px ;
    }
    .address-grid input{
        width:100% !important;
    }

   }
  
</style>
{% endblock %}


{% block body %}

    <div class="profile-container">
    <div class="form-wrapp">
        <form action="" method="POST">

            {% csrf_token %}

            <div class="profileSection2">


                <div class="user-info">

                    <div class="user-headings">
                        Personal Information
                    </div>

                    <div class="user-input-names">
                        
                        {% render_field form.first_name class+="form-control test" placeholder=form.first_name.label %}
                        {% render_field form.last_name class+="form-control test2" placeholder=form.last_name.label %}
                    </div>

                    <div class="gender-info">
                        <div class="mini-user-headings">Your Gender</div>
                        {% render_field profile_form.gender|attr:"type:radio" %}
                    </div>
                </div>

            


                <div class="address-container">

                    <div class="user-headings">Delivery Address
                        
                    </div>
                    <div class="address-grid">

                        {% render_field profile_form.address1 class+="form-control test2" placeholder=profile_form.address1.label %}
                        
                        {% render_field profile_form.address2 class+="form-control " placeholder=profile_form.address2.label %}
                        {% render_field profile_form.city class+="form-control " placeholder=profile_form.city.label %}
                        {% render_field profile_form.state class+="form-control test2" placeholder=profile_form.state.label %}
                        {% render_field profile_form.pin class+="form-control test2" placeholder=profile_form.pin.label %}
                        {% render_field profile_form.country class+="form-control test2" placeholder=profile_form.country.label %}
                        {% render_field profile_form.mobileno class+="form-control test2" placeholder=profile_form.mobileno.label %}

                    </div>

                    <div class="user-action-buttons">
                        <button type="submit" class="save-address">Save</button>
                    </div>

                </div>

            </div>

        </form>
    </div>
    </div>


{% endblock %}