{% extends 'game/base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{%static '/css/index.css/ '%}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


 {% block css %}
 <style>

 .pagination{
   margin-left:40%;


 }

 
 </style>
 
 {% endblock %}

{% block body %}
        <section class="client-container">
            <h3 class="text-center firstpage-miniheadings">Our Happy Gamers</h3>
        <div class="mySlides">
            <div class="container-fluid">
                <div class="row">
                    {% for i in happys %}
                    <div class="col-sm-4">
                        <div class="review-item">
                            <div class="product-grid">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic-1" src="/media/{{i.image}}">
                                        <div class="pic-2">
                                            <span class="happy-username">Gamerdidi's Review</span>
                                           
                                            <p class="happy-userreview text-center pr-2 pl-2"> Lorem ipsum dolor sit
                                                amet, consectetur
                                                adipisicing elit. Sunt, architecto.
                                                Lorem ipsum doloipisicing elit. Similique,
                                                culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                                                culpa!
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
                                                similique eos eligen
                                            </p>
                                        </div>

                                    </a>

                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="#">Men's Blazer</a></h3>
                                </div>

                                <!-- <div class="customer-likes">
                                  {% if request.user.is_authenticated %}
                                    {% if request.user in i.happylikes.all %}
                                      <a href="#" id="itemLike{{ i.id }}" data-rating=""><i class="fa fa-heart fa-2x text-liked" id="heart-icon{{ i.id }}"></i></a>
                                      {% else %}
                                        <a href="#" id="itemLike{{ i.id }}" data-rating=""><i class="fa fa-heart-o fa-2x text-not-liked" id="heart-icon{{ i.id }}"></i></a>
                                      {% endif %}
                                      
                                        {% endif %}
                              </div> -->
                            </div>
                        </div>
                        
                    </div>
                    {% endfor  %}
                </div>

            </div>

        </div>

        </section>







  <ul class="pagination">
    {% if happys.has_previous  %}
  
      <li class="page-item ">
        <a class="page-link" href="?page={{happys.previous_page_number}}">Previous</a>
      </li>
      
    {% elif happys.has_previous == False %}
      
      <li class="page-item disabled">
        <a class="page-link" href="#">Previous</a>
      </li>
  
    {% endif %}
    
    {% for num in happys.paginator.page_range %}
  
      {% if happys.number == num %}
  
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ num }}">{{ num }}<span class="sr-only">(current)</span></a>
        </li>
  
      {% elif num > happys.number|add:'-3' and num < happys.number|add:'3' %}
  
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
  
      {% endif %}
  
    {% endfor %}
  
    
  
    {% if happys.has_next %}
  
      <li class="page-item">
        <a class="page-link" href="?page={{ happys.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a href="?page={{ happys.paginator.num_pages }}"></a>
      </li>
  
    {% endif %}
  
    {% if happys.has_next == False  %}
  
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
  
    {% endif %}
  
  </ul>
 



<!-- 

  <script>
    function likeProduct(){
      $('#itemLike').on("click",function(e)
      {
            e.preventDefault();
        var aId=$(this).attr('id');
        var itemID=aId.substring(8);
                $.ajax({
                  url: '/happy/'+itemID+'/',       

                  success:function(data){
                    var like_status=jquery.parseJSON(data);
                      if (like_status.Success == "True" ){
                        $('a').find('#heart-icon' + itemID).removeClass('fa-heart-o text-not-liked').addclass('fa-heart text-liked');
                        $('#like-count'+itemID).html(like_status.count);
                            }else if (like_status.Removed == "True" ){
                              $('a').find('#heart-icon'+itemID).removeClass('fa-heart text-liked').addClass('fa-heart-o text-not-liked');
                               $('#like-count'+itemID).html(like_status.count);
                            }

                                    },
                                    error:function(data){ 
                                    }
                });
              });
                      
                  
            
    };









  </script>  -->


 



{% endblock %}