{%extends 'game/base.html' %}
<!doctype html>
<html lang="en">
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{%static '/css/index.css/ '%}">
    {% endblock %}


    {% block title %}Gamoby India{% endblock %}



   {% block body %}
   <section>
    <div class="scroll-button">
        <a id="return-to-top" title="Back to top" href="#top"><i class="fa fa-arrow-up"></i></a>
 
    </div>
    </section>

    <!-- CAROUSEL  -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    {% for i in banner %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{i.id}}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static '/images/gamoby (2) n.jpg' %}" height="500px" class="d-block w-100" alt="...">
        </div>
        {% for i in banner %}
        <div class="carousel-item">
            <img src="{{i.image.url}}" height="500px" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
  </div>
 </div>
         <!-- CIRCULAR NAV -->

         <section id="circularMenu" class="circular-menu">

            <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <i class="fa fa-plus"></i>
            </a>

            <menu class="items-wrapper">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="menu-item fa fa-user"></a>
                {% else %}
                <a href="/" onclick="ala()" class="menu-item fa fa-user"></a>
                {% endif %}
                {%if request.user.is_authenticated %}
                <a href="{% url 'wishlist' %}" class="menu-item fa fa-shopping-bag"></a>
                {% else %}
                <a href="/" class="menu-item fa fa-shopping-bag"></a>
                {% endif %}
                <a href="{% url 'notify' %}" class="menu-item fa fa-bell"></a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" onclick="ak()" class="menu-item fa fa-sign-out"></a>
                {% else %}
                <a href="/" class="menu-item fa fa-sign-out"></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a href="#" onclick="red()" class="menu-item fa fa-user-plus" ></a>
                {% else %}
                <a href="javascript:void();" class="menu-item fa fa-user-plus" data-toggle="modal"
                    data-target="#exampleModal"></a>
                {% endif %}
            </menu>

        </section>




    <!-- OUR PRODUCTS  -->

    <section class="product-container">
        <h3 class="text-center firstpage-miniheadings">Our Products</h3>

        <div class="product-card-container">
            <!-- card -->
            <div class="product-card card2">

                <div class="product-icon"><img src="{% static '/images/output-onlinepngtools (4).png' %}" class="image3" alt=""><img
                        src="{% static '/images/shirtG.png' %}" class="image4" alt=""></div>
                <a href="{% url 'design_add' %}" class="product-title">Clothing</a>
                <p class="product-text">Customize, create your clothing!</p>

            </div>
            <!-- end card -->
            <!-- card -->
            <div class="product-card card3">

                <div class="product-icon">
                    <img src="{% static '/images/output-onlinepngtools (9).png' %}" class="image5" alt=""><img
                        src="{% static '/images/coverg.png' %}" class="image6" alt=""></div>
                <a href="{% url 'design_add' %}" class="product-title">Mobile accessories</a>
                <p class="product-text">A mobile that looks good, behaves good!</p>



            </div>
            <!-- end card -->
            <!-- card -->
            <div class="product-card card1">

                <div class="product-icon"><img src="{% static '/images/output-onlinepngtools (6).png' %}" class="image1" alt=""><img
                        src="{% static '/images/mugG.png' %}" class="image2" alt=""></div>

                <a href="{% url 'design_add' %}" class="product-title">Mugs</a>
                <p class="product-text">Sip sip!, in a mug customized by you.
                </p>

            </div>
            <!-- end card -->
            <!-- card -->
            <div class="product-card card4">

                <div class="product-icon">
                    <img src="{% static  '/images/transplogo.png' %}" class="image7" alt=""><img src="{% static '/images/logoG.png' %}"
                        class="image8" alt=""></div>
                <a href="{% url 'design_add' %}" class="product-title">Stickers</a>
                <p class="product-text">Paste your creation! Make a sticker</p>

            </div>
            <!-- end card -->

        </div>

    </section>



    <!-- GAMING PRODUCT REVIEWS  -->

    <section class="review-container">
        <h3 class="text-center firstpage-miniheadings">Gaming Product Reviews</h3>
        <div class="container-fluid row review-cards">
            {% for i in product %}
            <div class="review-card">
                <img class="review-card-image" src="{{i.image.url}}" height="190px" alt="">
                <div class="review-card-title text-center">

                    <h2>
                       {{i.product_name}}
                        <small>
                         {{i.desc}}
                         
                        </small>
                    </h2>

                    <div class="review-card-actions">
                        <a href="{% url 'detailproduct' i.id %}" class="btn">READ MORE</a>
                    </div>
                </div>

            </div>
            {% endfor %}

          

           

   

        </div>

        <div class="view-all-button">
            <a href="{% url 'shophome' %}">View All <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </section>


    <!-- OUR CLIENTS 

    <section class="client-container">

        <h3 class="text-center firstpage-miniheadings">Our Happy Gamers</h3>

     

            <div class="mySlides">
                <div class="container-fluid">
                    <div class="row">
                        {% for i in happy %}
                        <div class="review-item">
                            <div class="product-grid">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic-1" src="/media/{{i.image}}">
                                        <div class="pic-2">
                                            <span class="happy-username">Gamerdidi's Review</span>
                                           
                                            <p class="happy-userreview text-center pr-2 pl-2"> Lorem ipsum dolor sit
                                                amet, consectetur
                                                adipisicing elit. Sunt, architecto.
                                                Lorem ipsum doloipisicing elit. Similique,
                                                culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                                                culpa!
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit
                                                similique eos eligen
                                            </p>
                                        </div>

                                    </a>

                                    
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="#">{{i.pub_date}}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                        
                    </div>
                </div>
            </div>



        <div class="view-all-button">
            <a href="{% url 'happy' %}">View All <i class="fa fa-arrow-circle-right"></i></a>
        </div> 
    </section>  -->
    <div class="canvas-wrapper">
        <h3>Gamer, are you bored? Let's play a game!
        <div class="game-info">
        <span>
        <p style="font-size:20px; font-weight:600; margin: 5px 0; color: rgba(255,255,255,0.936);">Please note some points before playing!</p>
        <ul style="font-size:16px; font-weight:500; margin:0; padding:0; color: rgba(255,255,0,0.9);">
        <li>1. The game is suitable for dekstop users.</li>
        <li>2. Use mouse hover to move the parallel blocks.</li>
        <li>3. Parallel blocks won't move if you hover outside!</li>
        <li class="text-center">Happy gaming!</li>
         </ul>
        </span>
         </div>
         </h3>

        <canvas id="canvas" class="text-align: center;"></canvas>
        </div>
        <audio preload="true" id="collide">
            <source src="https://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.mp3" />
            <source src="https://dl.dropbox.com/u/26141789/canvas/pingpong/Metal%20Cling%20-%20Hit.wav" />
        </audio>
        </div>
    {% block js %}
    <script src="{% static '/js/index.js' %}"></script>

    <script src="{% static '/js/game.js' %}"></script>
    {% endblock %}

{% endblock %}
 