<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>

<div class="input-password">

    <label for="old-password">Current password</label>
    <input type="password" name="old-password" id="old-password">
    <label for="new-password">New password</label>
    <input type="password" name="new-password" id="new-password">
    <div class="user-action-buttons">
        <button type="submit" class="save-password">Save</button>
    </div>

</div>