{%extends 'game/base.html' %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{%static '/css/passwordchange.css' %}">
    {% endblock %}


    {% block title %}Contact Us{% endblock %}


{% block body %}

<div class="change-password-page">
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit">Submit</button>
    </form>
    

    <div class="input-password mt-3">
    <div>
    <label for="old-password">Old password : </label>
    <input type="password" name="old-password" id="old-password">
    </div>
    <div>
    <label for="new-password">New password :</label>
    <input type="password" name="new-password" id="new-password">
    </div>
    <div class="user-action-buttons">
        <button type="submit" class="save-password">Save</button>
    </div>
     </div>

</div>
{%  endblock %}
