{% extends 'game/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{%static '/css/reviewProduct.css' %}">
{% endblock %}


{% block body %}
    
   <!-- PRODUCT CONTAINER  -->

   <main>
    <section class="single-product-container">

        <div class="introduction">
            <div class="introduction productInfo-section">
                <h2 class="productName">{{product.product_name}}</h2>
                <h5 class="text-muted">{{product.category}}</h5>
                <div id="like-section">
                    {% include 'game/like_section.html' %}
                </div>
                <div id="fav-section">
                    {% include 'game/fav_section.html' %}
                </div>

                

                <div class="reviewPara">
                    <p>
                        {{product.desc}}</p>
                        <p>
                        <h4>Features :</h4>
                        <p>
                            {{product.feat}}
                        </p>
                                                                  
                    </p>
                  
                </div>

                <div class="unboxingLink">
                    <a href="{{ product.unboxing }}">
                        <img src="{% static '/images/uthoob.png' %}" width="100p%" alt="">
                    </a>
                </div>

                <div class="productLink">
                    <span>
                        <a
                            href="{{ product.ecom1 }}">{{ product.ecom1name }}</a>
                    </span>

                    <span>
                        <a
                            href="{{ product.ecom2 }}">
                            {{ product.ecom2name }}</a>
                    </span>

                    <span>
                        <a
                            href="{{ product.ecom3 }}">{{ product.ecom3name }}</a>
                    </span>

                </div>


            </div>
        </div>

        <div class="productImg-section">
            <img src="/media/{{product.image}}" alt="matebook" />
        </div>

    </section>

    <img class="big-circle" src="{% static '/images/big-eclipse.svg' %}" alt="" />
    <img class="medium-circle" src="{%static '/images/mid-eclipse.svg' %}" alt="" />
    <img class="small-circle" src="{%static  '/images/small-eclipse.svg' %}" alt="" />
</main>

{% endblock %}
    


    
    <!-- <i class="fas fa-heart"></i>


    <i class="far fa-heart"></i> -->

    <!-- <div id="favourite-section">
        <a href="#">
            <i class="far fa-heart fa-lg"></i>
        </a>
    </div>
    <p>Favourites: {{products.favourites.count}}</p> -->


