{% extends 'game/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/reviewProduct.css' %}">
{% endblock %}

 {% block css %}
 <style>

 .pagination{
   display: flex;
   justify-content: center;
   margin: 30px 0 30px 0;
 }
 body{
   margin: 0;
   padding: 0;
   box-sizing: border-box !important;
   background: linear-gradient(rgb(12,12,12),rgb(20,22,22),rgb(32,32,32));
 }

#cd img{
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 0px;
  height:190px;
}

.card-actions{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

 #cd{
   position: relative;
   margin:80px auto;
    text-align:center;
 }

.card{
  margin-bottom: 20px;
  max-width: 255px;
}
 

 #cd .card{
   border-radius: 0;
    box-shadow: 0px 0px 3px 2px rgba(63, 62, 62, 0.736);
    box-sizing: border-box;
    background: #ffffff;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    max-width: 255px;
    perspective: 1000;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
 }
 
 #cd .card-img-top{
   width: 100%;
    filter: drop-shadow(0px 2px 2px rgba(102, 101, 101, 0.63));
 }

 #cd .cardbody{
    margin-top: 0px;
    position: relative;
    z-index: 0;
   display: inline-block;
   height:160px;
 }

 .bt {
   margin-bottom: 15px;
       background: #fa2626;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 18px 8px;
    text-decoration: none;
    transition: all 0.25s ease;
 }
 .bt:hover{
   color: white;
    background: #f73131;
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-1px);
    transition: all 0.25s 0s ease-out;
 }

 #cd .card-title{
    margin-top: 0px;
    z-index: 0;
 }
 #cd .card-title h2{
   margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
 }
 #cd .card-text p{
    display: block;
    font-size: 14.5px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    margin-top: -5px;
    line-height: 1.2;
    padding: 0 3px 0 3px;
 }
  .filter label{
    color:White;
    font-size: 30px;
    
 }
 .filter input{
   width:30%;
 }
 .filter{
   margin-top: 25px;
 }
 .filterbt{
   width:100px;
 }
 .filter h1 span{
   color: yellowgreen;
   font-size: 20px;
 }
 .filter h1{
   font-size:15px;
   color: red;
 }
 
 </style>
 
 {% endblock %}

{% block body %}


<form  method="get">
  <center><div class="filter">

    <h1><span>
      Available Categories are:
      </span>
      Electronics , Books , Automobiles ,Clothing
    </h1>
    <p class="cat"></p>
  {{ product_filter.form.as_p }}
  </div></center>
  <center><button type="submit" class="filterbt">Search</button></center>
</form>





 



<div id="cd" class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3">
      {% for i in product_filter.qs %}
      <div class="col-4"> 
        <div class="card" id="demo{{forloop.counter}}">
          <img src='/media/{{i.image}}' class="card-img-top" alt="...">
          
          <div class="cardbody">
            <div class="card-title">
              <h2>{{i.product_name}}</h2>
            </div>
            <div class="card-text">
                  <p>{{i.desc}}.</p>    
            </div>
            <div class="card-actions">
                <a href="{% url 'detailproduct' i.pk %}" class="bt" id="fs" >See Details</a>
            </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
  <ul class="pagination">
    {% if products.has_previous  %}
  
      <li class="page-item ">
        <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
      </li>
      
    {% elif products.has_previous == False %}
      
      <li class="page-item disabled">
        <a class="page-link" href="#">Previous</a>
      </li>
  
    {% endif %}
    
    {% for num in products.paginator.page_range %}
  
      {% if products.number == num %}
  
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ num }}">{{ num }}<span class="sr-only">(current)</span></a>
        </li>
  
      {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
  
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
  
      {% endif %}
  
    {% endfor %}
  
    
  
    {% if products.has_next %}
  
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a href="?page={{ products.paginator.num_pages }}"></a>
      </li>
  
    {% endif %}
  
    {% if products.has_next == False  %}
  
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
  
    {% endif %}
  
  </ul>
 



{% endblock %}